<title>{{{detag (or page.title defaultPageTitle)}}} - TB Codelab {{#if (eq page.component.name "TB-core") }} Core {{else if (eq page.component.name "TB-api") }} Protocol {{else if (eq page.component.name "TB-service") }} Service {{else}} TB {{/if}} Docs</title>
<!-- Change the title depending on the component displayed. -->
