<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="redoc">
      <a name="top"></a>
{{> header}}
{{> redocbody-weather}}
{{> footer}}
  </body>
</html>